@import "tailwindcss";

/*-------- Main --------*/
/* Hiding Scrollbar */
html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
/* */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

html { scroll-behavior: smooth; }

a {
  font-weight: 500;
  color: #646cff;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 { line-height: 1.1; }

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root { color: #213547; }
}

/*-------- Hero --------*/
.hero-text {
  color:darkgray;
  font-size: large;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
